@import url(https://db.onlinewebfonts.com/c/d2d21cf0ee4c1d969d8a4dccc587ab26?family=Flexo-Medium);

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background: #424242
    url("https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png");
}

/* Header */

.main_head_cont {
  height: 66px;
  position: relative;
  width: 100%;
  background-image: url("https://assets.pokemon.com/static2/_ui/img/gus/bg-strip.jpg");
  z-index: 16;
}

.header_container {
  height: 62px;
  border-bottom: solid 2px #dedede;
  background-color: #f5f5f5;
}

.header_inner_container {
  margin: 0 auto;
  max-width: 1200px;
  width: 60%;
}
.header_inner_container ul {
  display: flex;
  align-items: center;
}

.head_logo {
  margin: 0 10px 0 0;
  background-color: #fff;
  box-shadow: 0 0 7px 1px #666666;
  height: 66px;
  padding: 0px 10px 0px 10px;
  display: flex;
  align-items: center;
}

.head_btn_shop {
  padding: 9px 10px 8px 0px;
  border-right: solid 2px #dedede;
  border-bottom: none;
}
.head_btn {
  padding: 9px 10px 8px 10px;
  border-right: solid 2px #dedede;
}

.promotion_img {
  margin: 6px 0 6px 7px;
  /* padding-left: 7px; */
}

/* Header Navigation */

.main_nav {
  border-bottom: 2px solid #f0f0f0;
  background: #fff;
}

nav {
  margin: 0 auto;
  width: 60%;
  height: 87px;
  background-color: #fff;
}

.main_nav_container ul {
  display: flex;
  align-items: center;
}

.main_nav_container ul li {
  flex: 1;
  text-align: center;
  color: #666666;
  height: 87px;
  position: relative;
  line-height: 1;
}

.main_nav_container ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.main_nav_container .fill {
  position: absolute;
  bottom: -06px;
  left: 0;
  height: 6px;
  width: 100%;
}

.title {
  margin: 7px 0;
}

.home .fill {
  background-color: #666666;
  border-bottom-left-radius: 8px;
}
.explore .fill {
  background-color: #e3350d;
}
.watch .fill {
  background-color: #ee6b2f;
}
.play .fill {
  background-color: #e6bc2f;
}
.attend .fill {
  background-color: #4dad5b;
}
.trade .fill {
  background-color: #30a7d7;
}
.news .fill {
  background-color: #1b53ba;
  border-bottom-right-radius: 08px;
}

.home svg,
.home .title,
li.home {
  color: #fff;
  background-color: #666666;
}

li.explore:hover {
  background-color: #e3350d;
  color: #fff;
}
li.watch:hover {
  background-color: #ee6b2f;
  color: #fff;
}
li.play:hover {
  background-color: #e6bc2f;
  color: #fff;
}
li.attend:hover {
  background-color: #4dad5b;
  color: #fff;
}
li.trade:hover {
  background-color: #30a7d7;
  color: #fff;
}
li.news:hover {
  background-color: #1b53ba;
  color: #fff;
}

/* Header End */

/* section one */

.section_wrapper {
  background: #fff
    url("https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png");
  margin: 0 auto;
  width: 85%;
}

.section_one {
  background: #fff;
  width: 70%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 35px 15px 16px 15px;
  display: flex;
  gap: 18px;
  overflow-x: hidden;
}
.section_one img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 5px 5px 0 0;
}

.sec_1_column_1 {
  width: 70%;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.sec_1_column_1 .row {
  display: flex;
  gap: 18px;
  flex-wrap: wrap;
}

.sec_1_column_1 .row a {
  flex: 1;
  min-width: 0;
  width: 100%;
}

.sec_1_column_2 {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.sec_1_column_2 a {
  width: 100%;
}

.banner_blue,
.banner_green,
.banner_lightblue,
.banner_lightpurple,
.banner_yellow {
  border-radius: 0 0 5px 5px;
}

.banner_lightblue {
  background-color: #1b53ba;
  padding: 4px 0 24px 0;
}

.banner_lightblue h3 {
  color: #fff;
  font-family: "Flexo-Medium", Arial, sans-serif;
  font-size: 22px;
  font-weight: 500;
  margin: 16.5px 11px 0 22px;
}
.banner_lightblue p {
  font-family: "Roboto", Arial, sans-serif;
  color: #30a7d7;
  font-size: 16px;
  margin: 8px 8px 12px 20px;
}
.banner_green_container {
  background-color: #ff90c4;
  height: 100%;
  border-radius: 5px;
}
.banner_yellow_container {
  height: 100%;
  background-color: #313131;
  border-radius: 5px;
}
.banner_lightpurple_container {
  height: 100%;
  background-color: #30a7d7;
  border-radius: 5px;
}

.banner_blue h3,
.banner_lightpurple h3,
.banner_yellow h3,
.banner_gray h3,
.banner_green h3 {
  /* padding-bottom: 5px; */
  margin: 16.5px 11px 16.5px 22px;
  color: #fff;
  font-family: "Flexo-Medium", Arial, sans-serif;
  font-size: 22px;
  font-weight: 500;
}

.banner_yellow {
  background-color: #313131;
}

.banner_blue_container {
  height: 100%;
  background-color: #b38aea;
  border-radius: 5px;
}

.banner_gray_container {
  display: flex;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.banner_image {
  width: 40%;
}

.banner_image img {
  max-width: 132px;
  width: 100%;
  height: 100%;
  border-top-right-radius: 0;

}

.banner_gray {
  width: 60%;
  background-color: rgb(230 188 47);
}
